.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: #111;
  color: #00c8ff;
  padding: 30px;
  border-radius: 15px;
  width: 400px;
}

.popup-content label {
  display: block;
  margin: 10px 0;
}

.popup-content input, .popup-content select {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  border-radius: 5px;
  border: none;
}
.popup-content button {
  margin-top: 10px;
  padding: 10px 15px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  background: #00c8ff;
  color: #000;
  font-weight: bold;
}
